*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

section{
    padding-left: 15px;
    padding-right: 15px;
}



nav ul{
    list-style-type: none
}


.flex_right ul li a{
    text-decoration: underline #fff;
    color: rgb(0, 0, 0);
    margin: 0 5px;
    font-size: 18px;
}

.flex_right ul li{
    margin: 0.5rem 0 0 0;
}


.current{
    border-bottom: 3px solid #e6bd43;
    padding-bottom: 1px;
    font-weight: 800;
}


.header_align{
    width: 100%;
    text-align: center;
}


.header_align img{
    max-width: 130px;
    margin: 2px 0 2px 2px;
    padding: 5px 10px;
}

.h1_center{
    font-size: 32px;
}

.video{
    width: 100%;
    height: 400px;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}

.video h1{
    padding: 28px 0 15px 0;
    margin: 0 0 1rem 0;

}

.video p{
    margin: 0 5rem 1.5rem;
}


/* Fikk hjelp fra: https://www.youtube.com/watch?v=IlRn1a38bec&ab_channel=AMWEBTECH */
.background_mp4{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
}

.picture{
    width: 100%;
    height: 350px;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}


.picture h1{
    padding: 9rem 0 9rem 0;
    font-size: 40px;
    font-weight: bolder;
}




.about_picture{
    width: 100%;
    height: 500px;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 2rem 0 2rem;

}


.about_picture p{
    padding: 1rem 0 0 0;
    margin: 1rem 0 1rem;
    font-size: 14px;
}

.about_frame{
    background-color: #b5b5b5;
    opacity: 80%;
    padding: 0 1rem 1rem 1rem;

}


.button_2{    
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #e6bd43;
    border: 2px;
    border-style: solid;
}


.explore, .explore_label{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    max-width: 1300px;
    gap: 15px;
    margin: auto;
}

.explore_label a{
    color: black;
    margin: 2rem 0 0;
    padding: 0.2rem;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

.explore h2, .explore_label h2{
    width: 100%;
    padding: 2.5rem 0 3rem 0;
    border-bottom: 3px solid #e6bd43;
    padding-bottom: 5px;
}

.explore article{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    max-width: 692px;
    flex-grow: 1;
}

.explore img{
    width: 100%;
    transition: transform .2s;
}

.explore p{
    margin: 0 0 1rem 0;
}



/* Knapp som man kan trykke på fra https://www.w3schools.com/tags/tag_button.asp */
.button {
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #e6bd43;
}












.center_margin{
    text-align: center;
    margin: 4rem 5rem;
}

.center_margin h2{
    margin: 0 0 2rem;
}


.flex{
    display: flex;
    gap: 15px;
    margin: 0.5rem 0 0 0;
}

.section_one_two img{
    transition: transform .2s;
    max-width: 100%;
    max-height: 400px;
}

.grow:hover{
    transform: scale(1.1);
}


.our_s{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 0 5rem 0;
}


/* Jeg får h2 tittelen til å ta hele bredden med: grid-column: 1 / -1;...fra:  https://css-tricks.com/almanac/properties/g/grid-column/ */
.our_s h2{
    grid-column: 1 / -1;
    text-align: center;
    margin: 5rem 0 1.5rem;
}

.our_s article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0.5rem 0.5rem;
    gap: 15px;
}


.trio{
    background-color: #e6bd43;
    text-align: center;
    padding: 2rem;

}

.trio h2{
    font-size: 35px;
    margin: 0 0 1.5rem 0;

}

.trio a{
    margin: 25px;
    display: inline-block;
}


.news{
    background-color: #b5b5b5;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 1.5rem;
    /* margin: 0 0 2rem; */

}

.news input{
    padding: 8px;
}

.news h2{
    grid-column: 1 / -1;
    text-align: center;
}


#contact{
    background-color: #b5b5b5;
    padding: 3rem 2rem;
    width: 100%;
}

#contact h2{
    text-align: center;
    margin: 0 0 2rem 0;
}

#contact h3{
    margin: 2rem 0 1rem 0;
}

#contact input{
    padding: 8px;
    width: 430px;
    max-width: 100%;
    margin: 0 3rem 0 0;
}

#contact textarea{
    width: 430px;
    max-width: 100%;
}



.map{
    display: flex;
    justify-content: center;
    padding: 0;
}



footer{
    background-color: #252525;
    display: inline-block;
    justify-content: space-between;
    color: #fff;
}

footer section a{
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    margin: 0.5rem;
}


@media screen and (max-width: 799px){
    .section_one_two{
        /* margin: 1.5rem auto; */
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        /* max-width: 400px; */

        background-color: #e6bd43;
        padding: 4rem 5rem 4rem 5rem;
    }

    .section_one_two article{
        margin: 1rem;
    }


}



@media screen and (min-width: 760px) {
    nav ul{
        display: block ruby;
    }

    .header_align{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .header_align img{
        max-width: 130px;
        margin: 1rem 1rem;
        padding: 5px 10px;
    }


    .video{
        width: 100%;
        height: 320px;
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
    }


    .video h1{
        padding: 75px 0 45px 0;
        margin: 0 0 -20px 0;

    }


    .video p{
        margin: 0 5rem 2rem;
    }





    .about_picture{
        width: 100%;
        height: 410px;
        position: relative;
        top: 0;
        left: 0;
        text-align: initial;
        display: flex;
        align-items: center;
        padding: 0 0 0 60%;

    }

    .about_frame{
        padding: 0 1rem 1rem 1rem;
        margin: 0 3rem 0 0;
    }



    .our_s{
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }


    .explore{
        justify-content: start;
    }


    .button_2:hover{
        border: 2px;
        border-style: solid;
        color: #e6bd43;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        font-weight: 800;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #000;
    }


    .button:hover{
        border: none;
        color: #e6bd43;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        font-weight: 800;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #000;
    }


    #contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;

        background-color: #b5b5b5;
        padding: 3rem 6rem;
    }

    #contact h2{
        display: grid;
        grid-column: 1 / -1;
        text-align: center;

    }

    .info{
        margin: 0 0 5.5rem 0;
    }



}


@media screen and (min-width: 800px){

    .section_one_two{
        padding: 4rem 0 4rem 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #e6bd43;
    }

    .section_one_two article{
        margin: 5rem 20% 2rem 1.5rem;


    }

    .section_one_two article p{
        margin: 0 0 1rem 0;
    }

}