*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video{
    width: 100%;
    height: 200px;
    position: relative;
    top: 0;
    left: 0;        
}


/* Fikk hjelp fra: https://www.youtube.com/watch?v=IlRn1a38bec&ab_channel=AMWEBTECH */
.background_mp4{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;    
}

.h1_center{
    text-align: center;    
}


/* Knapp som man kan trykke på fra https://www.w3schools.com/tags/tag_button.asp */
.button {
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;    
}


nav ul{
    display: block ruby;
    list-style-type: none    
}

/* Transition fra https://www.youtube.com/watch?v=IlRn1a38bec&ab_channel=AMWEBTECH */
.flex_right ul a{
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-size: 18px;
    transition: color .4s;
}

/* Hover effekt fra https://www.w3schools.com/cssref/sel_hover.php */
.flex_right ul a:hover{
    color: crimson;
}

.header_align{
    width: 100%;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

  
/* .flex_right{ */
    /* display: flex; */
    /* justify-content: end; */
/* } */